body {
  text-align: center;
  font-family: Arial;
  background-color:black;
}

h1 {
	font-size: 5em;
    text-align: center;
    font-family: 'Sacramento', cursive;
}

.games {
	background-image: url("banner-brain-img.jpg");
	background-repeat: repeat-x;
	margin: 0 auto;
	overflow: hidden;
    padding: 0px;
    text-align: left;
    color: white;
}