body {
  font-family: Arial;
}

h1 {
    text-align: center;
    font-family: 'EB Garamond', serif;
    font-size: 300%;
    color: white;
    text-shadow: 0 0 3px #000000;
}

html, body {
    height:100%;
}

h2, h3 {
	font-weight: bold;
	padding-left: 30px;
	text-align: left;
	font-size: larger;
	color: #FF0000;
}

h4, h5, h6 {
	font-weight: bold;
	text-align: center;
	font-size: larger;
	color: #FF0000;
}

h7, h8, h9 {
	font-weight: bold;
	text-align: center;
	font-size: larger;
	color: #FF0000;
}

table, th, td {
	font-family: 'EB Garamond', serif;
}

.pad{
	padding-top: 60px;
}

.fMRI {
	background-image: url("glowingbrain.png");
	background-repeat: repeat-x;
	background-size: auto 100%;
	overflow: hidden;
    text-align: left;
    padding: 0px;
    color: white;
}

.questions {
	background-image: url("city.jpg");
	background-repeat: repeat-x;
	background-size: auto 100%;
	overflow: hidden;
    padding: 0px;
}

.fMRIsub {
	padding-left: 40px;
}

.header {
	background-image: url("banner-brain-img.jpg");
	background-repeat: repeat-x;
	background-size: auto 100%;
	overflow: hidden;
    text-align: left;
    padding: 0px;
}

.redboldtext{
	color: #FF0000;
	font-weight: bold;
}

p {
	text-align: left;
    font-family: 'EB Garamond', serif;
    padding-left: 30px;
    font-size: larger;
}