body {
  font-family: Arial;
}

h1 {
    text-align: left;
    font-family: 'EB Garamond', serif;
    font-size: 300%;
    padding-left: 30px;
    color: white;
    text-shadow: 0 0 3px #000000;
}

html, body {
    height:100%;
}

h2 {
	font-weight: bold;
}

.header {
	background-image: url("banner-brain-img.jpg");
	background-repeat: repeat-x;
	background-size: auto 100%;
	overflow: hidden;
    text-align: left;
    padding: 0px
}

p {
	text-align: left;
    font-family: 'EB Garamond', serif;
    padding-left: 30px;
    font-size: larger;
}